nav {
    width: 960px;
    height: 100px;
    margin: 120px auto;
    text-align: center;
}

.top-menu li {
    display: inline-block;
    text-align: center;
    margin: 30px 5px;
    position: relative;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.top-menu li:hover {
    margin: 30px 20px;
}

.top-menu li:active {
    margin: 30px 33px;
}

.top-menu li a {
    width: 100px;
    height: 100px;
    z-index: 9999;
}

#item1 {
    background: #41D05F;
}

#item2 {
    background: #E42B2B;
}

#item3 {
    background: #ff8400;
}

#item4 {
    background: #a800ff;
}

#item5 {
  background: #49a7f3;
}
