.stitched {
   padding: 10px;
   margin: 20% 0 0 30%;
   background: #8b4e59;
   width: 30%;
   color: #fff;
   font-size: 21px;
   text-align: center;
   font-weight: bold;
   line-height: 1.3em;
   border: 2px dashed #fff;
   border-radius: 10px;
   box-shadow: 0 0 0 4px #7c172a, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
   text-shadow: -1px -1px #701e1e;
   font-weight: normal;

}
