*{
    text-align: center;
}

#square {
  width: 100px;
  height: 100px;
  background: red;
}


#rectangle {
	width: 200px;
	height: 100px;
	background: #28DCE2;
}

#circle {
	width: 100px;
	height: 100px;
	background: blue;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
#oval {
	width: 200px;
	height: 100px;
	background: green;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

#triangle1 {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid tan;
}
#triangle2 {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 100px solid yellow;
}
#triangle3 {
	width: 0;
	height: 0;
	border-top: 50px solid transparent;
	border-right: 100px solid orange;
	border-bottom: 50px solid transparent;
}
#triangle4{
	width: 0;
	height: 0;
	border-top: 50px solid transparent;
	border-left: 100px solid lightblue;
	border-bottom: 50px solid transparent;
}

/*started to add hex color*/
#triangle5 {
	width: 0;
	height: 0;
	border-top: 100px solid #746C9E;
	border-right: 100px solid transparent;
}

#triangle6{
	width: 0;
	height: 0;
	border-top: 100px solid #36AC6D;
	border-left: 100px solid transparent;

}
#triangle7{
	width: 0;
	height: 0;
	border-bottom: 100px solid #BF6825;
	border-right: 100px solid transparent;
}
#triangle8{
	width: 0;
	height: 0;
	border-bottom: 100px solid #2544BF;
	border-left: 100px solid transparent;
}

#trapezoid {
	border-bottom: 100px solid #E228DC;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	height: 0;
	width: 100px;
}
